<header>
<a href="/">
    <pre class="ascii logo">
               ......',''.................              
        ..    .......',,,''.................            
    ................',;;;;,'''''..................      
       ............',;;:::;;,,,,''................. ..  
       ......'''''',,;:::::;;;;;,''''...............    
     ......'',,,,,;;;;:loxkdc:;;;,,''''.............    
     .....''',,;;;::;:lxONWXkc;;;;;,,,,'..............  
        ....',,,;::::cdkKWNN0l::cllc:;;,'''............ 
       .....',,,;:cccoxOXNKNXdcokKXKxc;;,,,'''..........
      ......,;:coxkO0KKXNN0XNkdOXWWN0l;;;;,'''..........
    ......';coxkO00KXNNWWWXNN0x0NWWWKxllc:;,''''........
   ......;clxkxolccoxOKXWWWWWKOKNWMWNX00OOd:,,,''.'.....
    ....'coxkd:,,,;:lxOKNNKNWXOXWWWXkddxkO0o;;,,''''....
     ...,cdkOxlllodxOKXNWXOKWWK0KXNOl:coxOKx:;;,,'''....
     ...':coxkkOOO000XXNW0k0NWKxxOX0l:cdk0Ko;;;,,,,'....
     .....,;:cccccloxKNNXxdk0Kkoloddlcok0Kkc;;;,,,''....
      .......''''';cldkkdllllllcccccldkKXOl;;;;,,'''....
     .........'''',;;:::::cccc::::coxOXKxl:;;;,,,''.....
     .........'''''',,,,;;:::::::cokKNKdc:;;;;;,,'......
      ........''',,,,,,,,;;::::cldOXN0oc:::::;;;,''.....
      .........''',,,,,,,,;;;::ldk0Odl:::;;;;;;;;,,.... 
      ...........'',,,,,,,;;;;:clllc:::;;;;;;;;;,,,'... 
        .........''',,,,,,,;;;;:::::::;;;,,,,,,,,,,'... 
         ...........''''''',,,;;;;;;;;;;,,''''''''......
          ............'''''''',,;;;;;;;,,'''............
            ..................',,,,,,,,,,'..............
              .................'''',,,,,'...............
               ...................'''''''........... .. 
    </pre>
    <pre class="ascii name">
 █████╗  █████╗  ██╗██████╗  ██████╗ 
██╔══██╗██╔══██╗███║╚════██╗██╔═══██╗
███████║███████║╚██║ █████╔╝██║   ██║
██╔══██║██╔══██║ ██║ ╚═══██╗██║▄▄ ██║
██║  ██║██║  ██║ ██║██████╔╝╚██████╔╝
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═╝╚═════╝  ╚══▀▀═╝ </pre>
<a>
</header>
