// General colors

$color-white: #FFF;
$color-black: #000;

$color-1: #2F1E2E;//$color-white;
$color-2: #776E71;//#515151;

// Color schemes for themes based on https://github.com/chriskempson/base16
$base-00: #2F1E2E;
$base-01: #41323F;
$base-02: #4F424C;
$base-03: #776E71;
$base-04: #8D8687;
$base-05: #A39E9B;
$base-06: #B9B6B0;
$base-07: #E7E9DB; // Not for theme selection
$base-08: #EF6155;
$base-09: #F99B15;
$base-0A: #FEC418;
$base-0B: #48B685;
$base-0C: #5BC4BF;
$base-0D: #06B6EF;
$base-0E: #815BA4;
$base-0F: #E96BA8;



// Fonts
// $primary-font: "Helvetica Neue", Helvetica, Tahoma, Arial, "Hiragino Sans GB", STXihei, "华文细黑", "WenQuanYi Micro Hei", "文泉驿微米黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
$monospace: 'Press Start 2P', monospace;//"Press Start 2P", monospace; 
$primary-font: 'Truetypewriter PolyglOTT';//'Comfortaa';//'Press Start 2P'//'Oxygen'//'Press Start 2P', cursive;//,"Philosopher"