@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	background-image: url("../img/background.gif");
}

body {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(23,42,16,1);
    padding: 5px;
    margin: auto;
    width: 80%;
    border: 1px dashed rgba(0,0,0,1);
    font-family: "Open Sans";
}

header, nav, main, footer {
	margin: 15px;
        border-bottom: 1px dashed rgba(42, 110, 164,0.5);
}

header, nav {
	text-align: center;
}

.ascii {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font: 10px;
}

.logo {
    font: 10px/10px monospace;
}

nav ul {
	display: block;
	padding: 0;
}

nav ul li {
	display: inline;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
        color: rgba(42,164, 96, 1);
}

nav ul li a:hover {
	font-weight: bold;
}

a {
	text-decoration: none;
        color: #2aa460;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-family: monospace;
}

.highlighter-rouge {
    color: rgba(103, 26, 69, 1);
}

.highlight {
    color: rgba(103, 26, 69, 1);
}

.highlight {
    border: 1px dashed rgba(103, 26, 69, 1);
    padding: 15px;
    background-color: #FFFFFF;
}

main iframe {
    width: 80%;
    margin-left: 10%;
    border: 1px dashed rgba(42, 110, 164,0.5);
}

main header {
    text-align: center;
    padding-bottom: 15px;
    border: 0;
}

img {
    height:auto;
    max-width:70vw;
    max-height:90vh;
    overflow:auto;
    width:auto;
    border-radius: 8px;
}
